	<div id="carouselExampleControls" class="carousel slide">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "weddingwhy.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "weddingwhy1.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "weddingwhy2.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "weddingwhy3.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "weddingwhy4.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "wedding5.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "weddingwhy6.png", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "wedding7.jpg", class: "d-block w-100" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "wedding8.jpg", class: "d-block w-100" %>
    </div>
  </div>
  <button class="carousel-control-prev" role="button" >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
  <button class="carousel-control-next"  role="button">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only"></span>
  </button>
</div>

