<div class="container" style="background-color: white;">
  <%= form_for @person, :url => url_for(:controller => 'rsvps', :action => 'create') do |f| %>

  <% if @errored %>
    <h3 class="alert alert-danger" role="alert">
      Please fill out the errors!
      <% @person.errors.full_messages.each do |msg| %>
        <div>
          <%= msg %>
        </div>
      <% end %>
    </h3>
  <% end %>
   <div class="form-group">
    <h3>
      Will you be able to attend the wedding on the afternoon and evening of Saturday June 7th, 2025? 
    </h3>
      <div class="form-check">
     <%= f.radio_button :rsvp_status, true, required: true, class: 'form-check-input' %> 
     <%= f.label :rsvp_status_yes, "I am attending", class: "form-check-label" %>
    </div>
  <div class="form-check">

     <%= f.radio_button :rsvp_status, false, required: true, class: "form-check-input" %>
     <%= f.label :rsvp_status_no, "I am not attending", class: "form-check-label" %>
  </div>
     </div>
  <div class="form-group">
    <%= f.label :name, "Name:" %>
    <%= f.text_field :name, required: true, class: "form-control" %>
  </div>

    <div class="form-group">
    <%= f.label :email, "Your Email:" %>
    <%= f.email_field :email, required: true, class: "form-control" %>
  </div>
   
  


 <div class="form-group">
    <%= f.label :plus_one_counts, "How many other guests are attending the wedding with you? (You are welcome to bring a plus-one and/or your minor children.) " %>
    <%= f.number_field :plus_one_counts, required: true, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :plus_ones, "Please list the names of guests in your party besides yourself." %>
    <%= f.text_area :plus_ones, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :little_ones, "Are any of the guests in your party under age 16? If yes, please specify how many and their names. " %>
    <%= f.text_area :little_ones, class: "form-control" %>
  </div>

   <div class="form-group">
    <%= f.label :alcohol_passer_count, "Are any of the guests in your party not going to drink alcohol at the wedding? If yes, please specify how many. " %>
    <%= f.number_field :alcohol_passer_count, class: "form-control" %>
  </div>


   <div class="form-group">
    <%= f.label :dietary_restrictions, "Do you or any of the guests in your party have dietary restrictions or other allergies?" %>
    <%= f.text_area :dietary_restrictions %> 
   </div>
    <%= f.submit "Submit RSVP", class: "btn btn-primary end-btn" %>
  <% end %>
</div>