<!DOCTYPE html>
<html>
  <head>
    <title>Katie and Ian's Wedding</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <div class="container-flouid">
        <%= render 'layouts/navbar' %>
      </div>
      <% if flash[:notice].present? %>
        <div class="alert alert-success" role="alert">
          <%= flash[:notice] %>
        </div>
      <% end %>
    <%= yield %>
    </div>
  </body>
</html>
